# CIS024C -  Fall 2024 - Lab String

## Lab String

**Lab String is about String Manipulation, list, and tuple**

#### Exercise 1 (4 points)

Write a Python program to accept a users name and print it in reverse

In [2]:
### YOUR CODE GOES BELOW
user_name = input("Enter your name:")
reversed_name = user_name[::-1]

print("Your name in reverse is", reversed_name)
### END CODE

Enter your name:Jibran
Your name in reverse is narbiJ

#### Exercise 2 (4 points)

Write a python program to get input from the user in both upper and lower case.

* Convert the input to lower case and display the result.
* Convert the input to upper case and display the result.

In [1]:
### YOUR CODE GOES BELOW
name=(input("Please enter your name: "))
uppercase_name = name.upper()
lowercase_name = name.lower()
print(uppercase_name, lowercase_name)
### END CODE

Please enter your name: jibran
JIBRAN jibran

#### Exercise 3 (4 points)

Write a python program to get two strings from the user - a string variable named text and another string variable named match. Look for match in text and remove all occurrences of match and display the result.

For example, if the string is “It is cold outside” and the search string is “cold”. Your result should be “It is outside”

In [3]:
### YOUR CODE GOES BELOW
text = input("Enter the text: ")
match = input("Enter the string to remove: ")

result = text.replace(match, "")

print("Resulting text:", result.strip())
### END CODE

Enter the text: cold
Enter the string to remove: c
Resulting text: old

#### Exercise 4 (4 points)

Write a python program to accept a set of comma separated set of values from the user and display each individual value separately.

In [ ]:
### YOUR CODE GOES BELOW

### END CODE

### Exercise 5 (4 points)
Write a Python program to get a list of your fruits (more than 5 fruits). Then find the legth of your list. Modify your list by removing the 3rd item ffrom the list.

In [ ]:
### YOUR CODE GOES BELOW
fruits = input("Enter a list of fruits (more than 5), separated by commas: ")

fruit_list = fruits.split(",")

list_length = len(fruit_list)
print(f"The length of your list is: {list_length}")

if list_length >= 3:
    removed_fruit = fruit_list.pop(2)
    print(f"Removed the 3rd fruit: {removed_fruit}")

print("Modified list of fruits:", fruit_list)
### END CODE

Exercise 6 (4 points)
Write a Python program and get tuples of car names. Then intruduce a second tuple that is the first tuples * n. Print your second tuple.

In [4]:
### YOUR CODE GOES BELOW
cars = input("Enter car names separated by commas: ")

car_tuple = tuple(cars.split(","))

n = int(input("Enter a number to repeat the tuple: "))

second_tuple = car_tuple * n

print("Second tuple:", second_tuple)
### END CODE

Enter car names separated by commas: Audi,Toyota,Lexus
Enter a number to repeat the tuple: 3
Second tuple: ('Audi', 'Toyota', 'Lexus', 'Audi', 'Toyota', 'Lexus', 'Audi', 'Toyota', 'Lexus')